* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: auto;
    padding: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
}



#displayPane,
#styleOptins {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 5px;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

#InsertOptions {
    
    margin: 5px;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
    #logo {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        height: 10%;
        padding: 15px;
        text-align: center;
        margin-bottom: 10px;

        #logoImage {
            width: 350px;
            height: auto;
        }
    }

    #Options {
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        scrollbar-color: #f5fff0;
        scroll-behavior: auto;
        scrollbar-gutter: stable;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 100%;
        width: 100%;
        padding: 15px;
        margin: 5px;
        border-radius: 20px;
        background-color: #f5fff0;
        width: 100%;
        display: grid;
        flex-direction: column;
        gap: 15px;

        #navButton {
            width: 100%;
            display: flex;
            flex-direction: column;

            #addNavLink {
                display: grid;
                flex-direction: row;
                gap: 10px;
                align-items: center;
            }

            #newButtonTitle, #newButtonLink {
                margin-top: 5px;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

        }

        #bannerOptions {
            width: 100%;
            display: flex;
            flex-direction: column;

            #bannerImageInput {
                display: grid;
                flex-direction: row;
                gap: 10px;
                align-items: center;

                #bannerImageURL {
                    margin-top: 5px;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }
            }
        }

        #titleTaglineOptions div {
            width: 100%;
            display: grid;
            flex-direction: row;
            align-items: center;

            #titleInput,
            #taglineInput {
                margin-top: 5px;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
        }

        #profileImageOptions {
            width: 100%;
            display: flex;
            flex-direction: column;

            #profileImageInput {
                display: grid;
                flex-direction: row;
                gap: 10px;
                align-items: center;

                #profileImageURL {
                    margin-top: 5px;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }
            }
        }

        button {
            font-weight: bold;
            margin-top: 10px;
            padding: 10px 15px;
            background-color: #4caf50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #45a049;
            }
        }
    }

    #footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            font-weight: bold;
            width: 100%;
            padding: 10px 15px;
            background-color: #008cba;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: not-allowed;

            &:hover {
                background-color: #007bb5;
            }
        }
    }
}

#styleOptins {
    flex: 0.5;
    background-color: #fff0f5;
}